<html ng-app="schedulerApp">
  <head>
    <meta charset="utf-8">
    <title>OS - Simulator</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/style.css" rel="stylesheet"></link>
    <script src="js/angular.min.js"></script>

    <script src="js/angular-animate.min.js"></script>
    <script src="js/control.js"></script>

  </head>
  
  <body >

 
    
    <div id="header">
      <h2>Scheduling Algorithm Simulator</h2>
      <h3>Highest Response Ratio Next</h3>
    </div>

  <div id="processes" class="container" ng-controller="dataCtrl"><!--Shanika-->

      <h3>Process Details List </h3>  <!--Shanika-->


      <table width="100%"  class="table">
        <tr class="animate-repeat">
          <th> # </th>
          <th> Process Id</th>
          <th> Arrive Time</th>
          <th> Expected RunTime </th>
          <th> Waited Time </th>
          <th> Priority(Response Ratio) </th>
          <th> Started Time</th>

          <th> Finished Time</th>
          <th> State</th>
          <th> Actions</th>

        </tr>
        <tr class="animate-repeat"  ng-repeat="process in processes">
          <td>{{$index+1}}.</td>
          <td>
            {{process.id }}
          </td>
          <td>
            {{process.startTime}}
          </td>
          <td>
            {{process.runTime}}
          </td>

          <td>
            {{process.waitingTime | format}}
          </td>

          <td>
            {{process.priority | number:4 | format}}
          </td>


          <td>
            {{process.startedTime | format}}
          </td>

          <td>
            {{process.endedTime | format}}
          </td>

          <td>
            {{process.state}}
          </td>

          <td>
            <a href="" ng-click="removeProcess(process.id)">remove</a>
          </td>

          </tr>

      </table>




      <form ng-submit="addProcess()">
      <h4>Add new process</h4>
      <label> Id : </label>
        <input style="width:70px" type="number" ng-model="enteredId" min="0" max="10000"  required>
      <label> Arrive Time : </label>
        <input style="width:70px" type="number" ng-model="enteredStartTime" min="0" max="1000" required>
      <label> Expected Run Time : </label>
        <input style="width:70px" type="number" ng-model="enteredRunTime" min="1" max="500" required>
        <input type="submit" value="Add">
      </form>
    </div>


 <div id="control" ng-controller="simulationCtrl">
      <h3>Simulation Control</h3>  <!--Shanika-->
      <label>Milliseconds per step: </label>
      <input style="width:80px" type="text" ng-model="speed">
      <input type="button" ng-click="stepForward()" value="Step Forward">
      <input type="button" ng-click="play()" value="Start">
      <input type="button" ng-click="pause()" value="Stop">
      <input type="button" ng-click="reset()" value="Reset">
  </div>


 <div id="cpu" ng-controller="states">
      <h3>CPU Details</h3> 
      <br>
      <ul>
        <li><label>Step : {{states.step}}</label>  </li>
        <li><label>Occupy Time : {{states.occupyTime}}</label></li>
        <li><label>Process Id : {{processes[states.processI].id}}</label></li>
        <li><label>CPU Utilization : {{states.cpuUtilization  | number:4}}%</label></li>

      </ul>
    </div>



<div id="waiting" ng-controller="dataCtrl">

      <h3>Waiting List (ordered by priority) </h3> 

      <table width="100%"  class="table">
        <tr class="animate-repeat">
          <th> # </th>
          <th> Process Id</th>
          <th> Waiting Time </th>
          <th> Priority(Response Ratio) </th>
        </tr>
        <tr class="animate-repeat"  ng-repeat="process in processes | filter:isWaiting | orderBy:'-priority'">
         
          <td>{{$index+1}}.</td>
          <td>
            {{process.id }}
          </td>
          <td>
            {{process.waitingTime | format}}
          </td>

          <td>
            {{process.priority | number:4 | format}}
          </td>
          </tr>
      </table>
    </div>



  
   
<div>
    <div id="simulator" ng-controller="dataCtrl"><!--Shanika-->
      <h3>Process History</h3>  
      <label>Scale : </label> 
      <select ng-model="scale">
        <option value="2">25%</option>
        <option value="3">50%</option>
        <option value="4" selected="selected" >100%</option>
        <option value="5">200%</option>
      </select>



        <div class="verticalBar" style="left:{{(bar+1)*scale+20}}px"  ng-repeat="bar in timeBars">{{bar}}</div>

      <div style="margin: 20px;">

       <div class="histroy_process"  ng-repeat="process in processes" >

        <!-- blue color div -->
        <div style="margin-left: {{ (process| left)*scale }}px;width:{{ (process |width)*scale }}px; background-color:blue;">{{process.id}}</div>

      </div>

       </div>
    </div>
</div>

  </body>
</html>
