<html ng-app="schedulerApp">
  <head>
    <meta charset="utf-8">
    <title>OS - Simulator</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/style.css" rel="stylesheet"></link>
    <script src="js/angular.min.js"></script>

    <script src="js/angular-animate.min.js"></script>
    <script src="js/control.js"></script>

  </head>
  
  <body >

    <div id="header">
      <h1>Scheduling Algorithm Simulator</h1>
      <h2>Highest Response Ratio Next</h2>
    </div>

    <div id="processes" ng-controller="dataCtrl"><!--Shanika-->

      <h3>Process Details List </h3>  <!--Shanika-->


      <table width="100%"  class="table">
        <tr class="animate-repeat">
          <th> #</th>
          <th> Process Id</th>
          <th> Start Time</th>
          <th> Run Time </th>
          <th> Actions</th>

        </tr>
        <tr class="animate-repeat"  ng-repeat="process in processes">
          <td>{{$index+1}}.</td>
          <td>
            {{process.id }}
          </td>
          <td>
            {{process.startTime}}
          </td>
          <td>
            {{process.runTime}}
          </td>

          <td>
            {{process.state}}
          </td>

          <td>
            {{process.startedTime}}
          </td>
          <td>
            {{process.endedTime}}
          </td>

          <td>
            <a href="" ng-click="removeProcess(process.id)">remove</a>
          </td>
          </tr>

      </table>




      <form ng-submit="addProcess()">
        <input type="text" ng-model="enteredId">
        <input type="text" ng-model="enteredStartTime">
        <input type="text" ng-model="enteredRunTime">
        <input type="submit" value="add">
      </form>
    </div>



<div id="waiting" ng-controller="dataCtrl">

      <h3>Waiting List</h3> 

      <table width="100%"  class="table">
        <tr class="animate-repeat">
          <th> #</th>
          <th> Process Id</th>
          <th> Start Time</th>
          <th> Run Time </th>
          <th> Actions</th>

        </tr>
        <tr class="animate-repeat"  ng-repeat="process in processes | filter:isWaiting">
          <td>{{$index+1}}.</td>
          <td>
            {{process.id }}
          </td>
          <td>
            {{process.startTime}}
          </td>
          <td>
            {{process.runTime}}
          </td>
          <td>
            {{process.waitingTime}}
          </td>

          <td>
            {{process.priority}}
          </td>


          <td>
            {{process.state}}
          </td>
          </tr>
      </table>
    </div>

    <div id="cpu" ng-controller="states">
      <h3>CPU Details</h3> 
      <br>
      <ul>
        <li>Time = {{states.step}}</li>
        <li>Occupy Time = {{states.occupyTime}}</li>
        <li>Process Id = {{processes[states.processI].id}}</li>
      </ul>
    </div>

    <div id="statistics"><!--Shanika-->
      <h3>Statistics</h3>
    </div>

    <div id="control" ng-controller="simulationCtrl">
      <h3>Simulation Control</h3>  <!--Shanika-->
      <input type="text" ng-model="speed">
      <input type="button" ng-click="stepForward()" value="Step Forward">
      <input type="button" ng-click="play()" value="Start">
      <input type="button" ng-click="pause()" value="Stop">
    </div>

    <div id="simulator" ng-controller="dataCtrl"><!--Shanika-->
      <h3>Process History</h3>  
       <div class="animate-repeat"  ng-repeat="process in processes" >
        <div style="margin-left: {{process| left}} ;width:{{ process |width }}; background-color:blue;">{{process.id}}</div>
       </div>
    </div>

  </body>
</html>
